apiVersion: v1
kind: Service
metadata:
  name: auth-gateway-service
  namespace: genosentinel
  labels:
    app: auth-gateway
spec:
  type: NodePort
  ports:
  - port: 3003
    targetPort: 3003
    nodePort: 30003
    protocol: TCP
    name: http
  selector:
    app: auth-gateway-simple